---
import { navConfig } from '../constants/navigation';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { cn } from '../utils/cn';

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
const lang = Astro.currentLocale || 'id';
---

<nav class={cn("flex gap-6 lg:gap-8 items-center z-50", className)}>
    {navConfig.map((menu) => (
        <div class="relative group py-6">
            {menu.href ? (
                <a href={getRelativeLocaleUrl(lang, menu.href)} class="font-medium text-sm lg:text-base text-foreground/90 hover:text-primary transition-colors">
                    {menu.titleKey}
                </a>
            ) : (
                <span class="font-medium text-sm lg:text-base text-foreground/90 cursor-default group-hover:text-primary transition-colors">
                    {menu.titleKey}
                </span>
            )}

            {menu.subItems && (
                <div class="absolute top-full left-0 hidden group-hover:block w-56 bg-background border border-secondary/20 shadow-xl rounded-b-xl overflow-hidden opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                    <ul class="flex flex-col py-2">
                        {menu.subItems.map((sub) => (
                            <li>
                                <a 
                                href={getRelativeLocaleUrl(lang, sub.href)}
                                class="block px-5 py-2.5 text-sm text-foreground/80 hover:bg-primary/5 hover:text-primary transition-colors"
                                >
                                    {sub.labelKey}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )}
        </div>
    ))}
</nav>